# Proteger directorios sensibles
RewriteEngine On
RewriteRule ^(config|logs|archivos_privados|ws|templates|\.git)/ - [F]

<FilesMatch "\.(env|sql|bak|ini)$">
  Require all denied
</FilesMatch>

Options -Indexes

# Sistema de rutas limpias o codificadas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([A-Za-z0-9_-]{7,})$ router.php?c=$1 [L,QSA]
